@import "styles/colors.scss";

$track-background: linear-gradient(90deg, #a258a7 0%, #ff497a 50%, #8668fc 50%, #a258a7 100%);

@mixin track-style {
  display: flex;
  align-items: center;
  height: 10px;
  border-radius: 5px;
  background-image: var(--track-background, $track-background);
}

@mixin thumb-style {
  position: relative;
  top: calc(-50% - 2px);
  width: 25px;
  height: 25px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  cursor: ew-resize;
}

.range-input {
  display: inline-grid;
  grid-template-areas: "range range" "token1 token2";
  font-size: 14px;
  .output {
    color: $Neutral03;
    text-transform: uppercase;
    line-height: 17px;
    padding-top: 7px;

    &.left {
      grid-area: token1;
      text-align: left;
    }

    &.right {
      grid-area: token2;
      text-align: right;
    }
  }

  input[type="range"] {
    grid-area: range;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    grid-area: range;
    width: 100%;
    box-shadow: 0 0 10px transparent;
    height: 0px;
    border: none;
    padding: 5px 0;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 10px #8668FC;
    }

    &::-webkit-slider-runnable-track {
      @include track-style;
      border-radius: 6px;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include thumb-style;
    }
    &::-moz-range-track {
      -moz-appearance: none;
      @include track-style;
    }
    &::-moz-range-thumb {
      @include thumb-style;
    }
  }
}