@import "styles/styles.scss";

.createDao {
  .form {
    font-family: Inter;
    background-color: $BG02;
    border: 1px solid $Border01;
    border-radius: 16px;
    padding: 24px;

    label {
      display: block;
      font-size: 17px;
      font-weight: 600;
      line-height: 32px;
      color: $Secondary02;
    }

    input {
      height: fit-content;
      border: 1px solid $Border01;
      border-radius: 10px;
      color: $Neutral02;
      padding: 5px 12px;
    }

    .comment {
      color: $Neutral02;
      font-style: italic;
      margin-bottom: 12px;
    }

    .body {
      margin-bottom: 36px;

      .safeOwners {
        padding-left: 20px;
        margin-bottom: 16px;

        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        column-gap: 18px;
        row-gap: 8px;
        align-items: center;
        justify-content: flex-start;

        .deleteOwner {
          i {
            color: $Secondary04;
          }
        }
      }

      .newMemberInput {
        display: grid;
        grid-template-columns: 430px auto;
        align-items: center;
        column-gap: 18px;
      }
    }

    .thresholdInputs {
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 600px) {
  .channelAdmin {
    .form {
      .body {
        .safeOwners {
          .owner {
            grid-template-columns: auto;
          }
        }
      }
    }
  }
}
