$Primary01: #ff497a;
$Primary02: #8668fc;
$Secondary01: #eba7da;
$Secondary02: #a258a7;
$Secondary03: #fff619;
$Secondary04: #ffce3d;
$Secondary05: #64557d;
$Neutral01: #15062d;
$Neutral02: #98979b;
$Neutral03: #dcdae5;
$Neutral04: #f9f6f9;
$White: #ffffff;
$Black: #000000;
$Gradient01: linear-gradient(220.2deg, #ff497a 0%, #a258a7 100%);
$Gradient02: linear-gradient(220.2deg, #8668fc 0%, #a258a7 100%);
$Gradient03: linear-gradient(220.2deg, #dcdae5 0%, #9398a8 100%);
$Gradient04: linear-gradient(220.2deg, #f9f6f9 0%, #dcdae5 100%);
$Gradient05: linear-gradient(220.2deg, #2d062b 0%, #15062d 100%);
$Gradient06: linear-gradient(220.2deg, #2a204a 0%, #15062d 100%);
$Gradient07: linear-gradient(220.2deg, #30ef71 0%, #41a0c9 100%);
$Gradient08: linear-gradient(220.2deg, #a258a7 0%, #ff497a 100%);
$BG01: #1b1722;
$BG02: #292235;
$BG03: #0e0e0e;
$BG04: #151318;
$BG05: #40444f;
$Border01: #403453;
$Border02: #292236;
$Border03: #372a4b;
$AlertRed: #ff5252;
$AlertOrange: #ffb155;
$AlertGreen: #38de67;
$Shade01: #ff497a;
$Shade02: #fc4d92;
$Shade03: #f149ad;
$Shade04: #dc4ec9;
$Shade05: #bb5ae4;
$Shade06: #8668fc;

$Secondary01-dev: #6da8ff;
$Secondary02-dev: #5399ff;
$Secondary03-dev: #1ee0fc;
